.text-input  {
    padding: 0 10rem;
}
.form_lab-lab {
    padding: 2rem;
    margin: -1rem;
    display: flex;
    border: none;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.table_lab-lab {
    padding: 1rem;
    margin: 0rem;
    display: flex;
    border: none;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.bx--data-table-container-lab {
    min-width: 48.25rem;
    overflow-x: auto;
    padding-top: 0.125rem;
}

.bx--col-md-4-lab{
    margin-left: 2.25%;
}

.user-banner{
    margin-top: -0.75%;
    margin-bottom: -8.75%;
    align-content: center;
    align-items: center;
    justify-content: center;
}